.content__btn-paginacao {
    background-color: red;
    position: relative;

}

.content__btn-paginacao ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0;
    left: 0;
    top: -15px;
}

.content__btn-paginacao button {
    cursor: pointer;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    color: var(--color01);
    transition: .4s;
    border: none;
    outline: none;
}

.content__btn-paginacao button:hover {
    background-color: var(--color01);
    color: white;
}

/* .content__btn-paginacao li:hover {
    background-color: #ffffff5e;
    color: #47a3bd5d;
} */