.content__tabela {
    background-color: white;
    border: 1px solid #00000055;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    max-height: 255px;
}

.content__tabela::-webkit-scrollbar {
    width: 12px;
}

.content__tabela::-webkit-scrollbar-track {
    background: white;
}

.content__tabela::-webkit-scrollbar-thumb {
    background-color: var(--color01);
    border-radius: 20px;
    border: 3px solid white;
}

.tabela {
    width: 100%;
}

.tabela__cabecalho {
    text-align: left;
}

/* .tabela__linha {
    width: 97%;
    height: 1px;
    background-color: #00000029;
    border-radius: 5px;
    position: absolute;
    top: 258px;
    right: 0;
    left: 0;
    margin: auto;
} */


.tabela__corpo:nth-child(odd) {
    background-color: #dddada;
}

.tabela__corpo:hover {
    transition: .4s;
    box-shadow: 1px 1px 5px #333,
        -1px -1px 5px #333;
}

.corpo__btn-trash {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.corpo__btn-trash:hover {
    color: red;
}

.tabela__sem-transacoes {
    background-color: #F8FAFA;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}